.paragraph { padding:3px; }
.clear     { clear:both; }  
.hide      { display:none; }
.bg-off    { background:none; }

.floatl    { float:left; }
.floatr    { float:right; }

.indentt   { margin-top:5px; }
.indentb   { margin-bottom:5px; }
.indentl   { margin-left:5px; }
.indentr   { margin-right:5px; }

img.left   { display:block; float:left; }
img.right  { display:block; float:right; }
img.center { display:block; margin: 0px auto; }

.tleft     { text-align:left; }
.tright    { text-align:right; }
.tcenter   { text-align:center; }
.tjustify  { text-align:justify; }

a.standard-link:hover { text-decoration:none; }
a.standard-link { text-decoration:underline; }

ul.plain, ol.plain { list-style:none; margin-left:0px; }

.round-border{border:solid 1px #D8D8DA; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;}
.round-shadow{-moz-box-shadow:3px 3px 3px 3px #999999; -webkit-box-shadow:3px 3px 3px 3px #999999; box-shadow:3px 3px 3px 3px #999999;}